.notecard {
    max-width: calc(33.33% - 40px);
    height: 200px;
    background-color: #ffeb3b;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
    padding: 20px;
    text-decoration: none;
    min-width: 13rem;
    box-sizing: border-box;
    transition: all 0.3s;
    overflow: auto;
    word-wrap: break-word;

    p {
      font-size: 20px !important;
      color: #000;
    }
  }

  @media (max-width: 600px) {
    .notecard {
      min-width: calc(50% - 20px);
      height: 100px;
      padding: 10px;
      margin: 10px;
      overflow: auto;
      word-wrap: break-word;
  
      p {
        font-size: 10px !important;
      }
    }
  }